<header class="header">
  <h1 class="title">
    <img
      class="imgHeader js-imgHeader"
      src="https://img.icons8.com/clouds/100/000000/tv.png"
    />
    <img
      class="imgHeader js-imgHeader"
      src="https://img.icons8.com/dusk/64/000000/futurama-bender--v2.png"
    />
    Serienator
    <img
      class="imgHeader js-imgHeader"
      src="https://img.icons8.com/dusk/64/000000/futurama-bender--v2.png"
    />
    <img
      class="imgHeader js-imgHeader"
      src="https://img.icons8.com/clouds/100/000000/tv.png"
    />
  </h1>
</header>
