.footer {
  .copyright {
    text-align: end;
    width: 100%;
    margin: 10px auto 10px auto;
    display: block;
    color: #c0c0c0;
    font-size: 2.5em;
    text-transform: capitalize;
  }
}
