.footer {
  position: fixed;
  bottom: 30px;
  .copyright {
    text-align: end;
    margin: 10px auto 10px auto;
    color: #c0c0c0;
    font-size: 1em;
    text-transform: capitalize;
    position: relative;
    top: 3vh;
  }
}
