.main {
  margin: 0 10px;

  .form {
    text-align: center;
    .input {
      margin: 4vw;
      padding: 0 10px;
      font-size: 3.5vh;
    }
    .search {
      margin-top: 2vw;
      text-transform: uppercase;
      padding: 0 10px;
      font-size: 4vh;
    }
    .reset {
      text-transform: uppercase;
      padding: 0 10px;
      font-size: 4vh;
      margin: 2vw;
    }
  }
}
.list {
  .title {
    font-size: 30px;
    color: #d3a625;
    margin: 20px;
  }
  .img {
    margin: 10px;
    border: 1px solid black;
  }
}
