.main {
  .sectionForm {
    text-align: center;
    .form {
      height: 15vh;
      margin: 8vh 0;
      .input {
        padding: 0 0 0 10px;
        font-size: 1.1em;
        width: 50vw;
        @media (min-width: 768px) {
          height: 6vh;
          font-size: 1.6em;
        }
      }
      .buttonSearch {
        margin: 3vh 1.5vw 0 3vw;
        text-transform: uppercase;
        padding: 5px 10px;
        box-sizing: border-box;
        font-size: 0.9em;
        width: 15vw;
        height: 2vh;
        box-sizing: content-box;
        color: #d3a625;
        background-color: #ae0001;
        border-radius: 6px;
        border: 2px solid #ae0001;
        @media (min-width: 768px) {
          height: 3.5vh;
          font-size: 1.6em;
        }
        &:hover {
          color: #ae0001;
          background-color: #d3a625;
        }
      }
      .buttonReset {
        margin: 3vh 1.5vw;
        text-transform: uppercase;
        padding: 5px 10px;
        box-sizing: border-box;
        font-size: 0.9em;
        width: 15vw;
        height: 2vh;
        box-sizing: content-box;
        color: #ae0001;
        background-color: #d3a625;
        border-radius: 6px;
        border: 2px solid #d3a625;
        @media (min-width: 768px) {
          height: 3.5vh;
          font-size: 1.6em;
        }
        &:hover {
          color: #d3a625;
          background-color: #ae0001;
        }
      }
    }
  }
  .sectionSeries {
    color: #ffc524;
    text-transform: uppercase;
    font-size: 0.9em;
    display: flex;
    @media (min-width: 768px) {
      font-size: 1.4em;
    }
    .seriesFavorites {
      box-shadow: 0 0 10px rgba(219, 198, 76, 0.7);
      width: 45%;
      .subtitleFav {
        margin: 20px;
        text-align: center;
        color: #d3a625;
        @media (min-width: 768px) {
          font-size: 1.3em;
        }
      }
      .listFav {
        .elementListSeriesFav {
          .seriesDivFav {
            .titleSeriesFav {
              text-align: center;
              margin-top: 25px;
            }
            .imgFav {
              width: 30%;
              margin: 10px auto 10px auto;
              display: block;
              transition: color ease 0.8s;
              &:hover {
                box-shadow: 0px 0px 10px 0px #c0c0c0;
              }
            }
            .buttonResetFav {
              margin: 5px auto 15px auto;
              display: block;
              padding: 5px 6px 7px 5px;
              font-size: 0.85em;
              width: 1vw;
              height: 1vh;
              box-sizing: content-box;
              color: #d3a625;
              background-color: #ae0001;
              border-radius: 6px;
              border: 2px solid #ae0001;
              @media (min-width: 768px) {
                height: 2vh;
              }
              &:hover {
                color: #ae0001;
                background-color: #d3a625;
              }
            }
          }
        }
      }
    }
    .seriesSearch {
      width: 60%;
      //box-shadow: 0 0 10px rgba(199, 78, 78, 0.7);

      .subtitleSeries {
        text-align: center;
        margin: 20px;
        @media (min-width: 768px) {
          font-size: 1.3em;
        }
      }
      .listSeries {
        .elementListSeries {
          .seriesDiv {
            padding: 10px 0 2px 0;
            margin-bottom: 10px;
            .titleSeries {
              text-align: center;
              @media (min-width: 768px) {
                font-size: 1.6em;
              }
            }
            .img {
              margin: 10px auto;
              display: block;
              width: 30%;
              margin: 10px auto 10px auto;
              display: block;
              transition: color ease 0.8s;
              &:hover {
                box-shadow: 0px 0px 10px 0px #c0c0c0;
              }
            }
          }
        }
        .seriesDivClick {
          background-color: #ffc524;
          color: #141518;
          margin: 100px;
        }
      }
    }
  }
}
