.main {
  margin: 0 10px;

  .form {
    text-align: center;
    .input {
      margin: 4vw;
      padding: 0 10px;
      font-size: 3.5vh;
    }
    .search {
      margin-top: 2vw;
      text-transform: uppercase;
      padding: 0 10px;
      font-size: 4vh;
    }
    .reset {
      text-transform: uppercase;
      padding: 0 10px;
      font-size: 4vh;
      margin: 2vw;
    }
  }
}
.sectionTwo {
  display: flex;
  flex-direction: unset;
  width: 100%;
  .articleCover {
    box-shadow: 0 0 10px rgba(199, 78, 78, 0.7);
    width: 50%;
    .list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      .seriesSection {
        display: flex;
        flex-direction: column;
        margin: 2vw;
        width: 25vw;
        .titleSeries {
          text-align: center;
          margin-bottom: 1.5vw;
          font-size: 5vw;
          color: #d3a625;
          .cover {
            margin: 2vw;
          }
          .img {
            margin: 1vw;
            border: 1px solid black;
            width: 5vw;
          }
        }
      }
    }
  }
  .favourite {
    text-align: center;
    color: #d3a625;
    box-shadow: 0 0 10px rgba(219, 198, 76, 0.7);
    width: 50%;
  }
}
